version: '3.8'
services:
  app:
    build: .
    image: demo-micrometer-app:latest
    container_name: demo-micrometer-app
    ports:
      - "8080:8080"
    depends_on:
      - prometheus
      - grafana
    environment:
      - JAVA_OPTS=
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana:9.5.3
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - prometheus
